<style type="text/css">
  pre {
    font-family:monospace;
    font-size: 97%;
    background-color:#eeeeee;
    padding:10px;
    border-radius: 4px;
    white-space: pre;
    overflow-x: auto;
    display: block;
  }

  code {
    font-family:monospace;
    font-size: 97%;
    background-color: #eeeeee;
    padding:1px;
    border-radius: 4px;
  }

</style>
